altair @ file:///home/task_176700170755420/croot/altair_1767001768442/work
anaconda-anon-usage @ file:///croot/anaconda-anon-usage_1753980460404/work
anaconda-auth @ file:///croot/anaconda-cloud-auth-split_1747863777058/work
anaconda-cli-base @ file:///croot/anaconda-cli-base_1741369443553/work
annotated-doc==0.0.4
annotated-types @ file:///work/perseverance-python-buildout/croot/annotated-types_1728386958747/work
anyio @ file:///home/task_175862240717140/conda-bld/anyio_1758622421932/work
archspec @ file:///croot/archspec_1709217642129/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///home/task_175792494485397/conda-bld/argon2-cffi-bindings_1757924958549/work
asttokens @ file:///croot/asttokens_1743630435401/work
async-lru @ file:///work/perseverance-python-buildout/croot/async-lru_1728387726672/work
attrs @ file:///croot/attrs_1734533101012/work
babel @ file:///croot/babel_1737454360933/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1756453090369/work
bleach @ file:///io/buildout/croot/bleach_1732918169505/work
blinker @ file:///home/task_176433217861443/conda-bld/blinker_1764332191472/work
boltons @ file:///croot/boltons_1751383775419/work
Bottleneck @ file:///home/task_176193795131750/conda-bld/bottleneck_1761937999296/work
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
cachetools @ file:///home/task_176486736840363/conda-bld/cachetools_1764867381169/work
certifi @ file:///home/task_176765916174011/croot/certifi_1767659183877/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///croot/click_1754477934456/work
colorama @ file:///work/perseverance-python-buildout/croot/colorama_1728388434940/work
comm @ file:///work/perseverance-python-buildout/croot/comm_1728387093347/work
conda @ file:///home/task_176556791054345/conda-bld/conda_1765567979493/work/conda-src
conda-anaconda-telemetry @ file:///croot/conda-anaconda-telemetry_1755883788794/work
conda-anaconda-tos @ file:///croot/conda-anaconda-tos_1755123313635/work
conda-content-trust @ file:///work/perseverance-python-buildout/croot/conda-content-trust_1728487058234/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1745607008911/work/src
conda-package-handling @ file:///croot/conda-package-handling_1731369017509/work
conda_package_streaming @ file:///croot/conda-package-streaming_1751307506088/work
cryptography @ file:///croot/cryptography_1753084572505/work
debugpy @ file:///home/task_175706710750177/conda-bld/debugpy_1757067122398/work
decorator @ file:///home/task_175734100107081/conda-bld/decorator_1757341232741/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
distro @ file:///work/perseverance-python-buildout/croot/distro_1728396110052/work
executing @ file:///home/task_175706097909872/conda-bld/executing_1757061232604/work
fastapi==0.129.0
fastjsonschema @ file:///io/buildout/croot/python-fastjsonschema_1735874150137/work
frozendict @ file:///work/perseverance-python-buildout/croot/frozendict_1728497542215/work
gitdb @ file:///croot/gitdb_1753362118172/work
GitPython @ file:///home/task_176787357400187/croot/gitpython_1767874098323/work
h11 @ file:///croot/h11_1748442006460/work
httpcore @ file:///croot/httpcore_1748526048470/work
httpx @ file:///home/task_176044729083783/conda-bld/httpx_1760447344657/work
idna @ file:///work/perseverance-python-buildout/croot/idna_1728385935861/work
ipykernel @ file:///home/task_175758334351072/conda-bld/ipykernel_1757583366135/work
ipython @ file:///home/task_175932814549162/conda-bld/ipython_1759328495757/work
ipython_pygments_lexers @ file:///croot/ipython_pygments_lexers_1744753235686/work
ipywidgets @ file:///io/buildout/croot/ipywidgets_1735843964234/work
jaraco.classes @ file:///croot/jaraco.classes_1755516327832/work
jaraco.context @ file:///io/perseverance-python-buildout/croot/jaraco.context_1731706750665/work
jaraco.functools @ file:///croot/jaraco.functools_1740408111753/work
jedi @ file:///croot/jedi_1733987392413/work
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
json5 @ file:///io/perseverance-python-buildout/croot/json5_1731701245495/work
jsonpatch @ file:///work/perseverance-python-buildout/croot/jsonpatch_1728399595941/work
jsonpointer @ file:///croot/jsonpointer_1753788433671/work
jsonschema @ file:///croot/jsonschema_1753206402902/work
jsonschema-specifications @ file:///io/perseverance-python-buildout/croot/jsonschema-specifications_1731700488901/work
jupyter @ file:///io/buildout/croot/jupyter_1742575498746/work
jupyter-console @ file:///io/buildout/croot/jupyter_console_1739559740170/work
jupyter-events @ file:///croot/jupyter_events_1741184577592/work
jupyter-lsp @ file:///croot/jupyter-lsp-meta_1745827015155/work
jupyter_client @ file:///io/buildout/croot/jupyter_client_1739558249609/work
jupyter_core @ file:///croot/jupyter_core_1751991368470/work
jupyter_server @ file:///croot/jupyter_server_1751996616172/work
jupyter_server_terminals @ file:///croot/jupyter_server_terminals_1744706698694/work
jupyterlab @ file:///home/task_175812493124536/conda-bld/jupyterlab_1758125006806/work
jupyterlab_pygments @ file:///croot/jupyterlab_pygments_1741124142640/work
jupyterlab_server @ file:///io/buildout/croot/jupyterlab_server_1742574181361/work
jupyterlab_widgets @ file:///croot/jupyterlab_widgets_1752066547979/work
keyring @ file:///croot/keyring_1745484691218/work
libmambapy @ file:///croot/mamba-split_1734469461757/work/libmambapy
markdown-it-py @ file:///work/perseverance-python-buildout/croot/markdown-it-py_1728387994477/work
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib-inline @ file:///home/task_175851946546628/conda-bld/matplotlib-inline_1758520104477/work
mdurl @ file:///work/perseverance-python-buildout/croot/mdurl_1728387286143/work
menuinst @ file:///croot/menuinst_1753464582829/work
mistune @ file:///croot/mistune_1741124011532/work
mkl-service==2.5.2
mkl_fft @ file:///home/task_176159249290440/conda-bld/mkl_fft_1761592897595/work
mkl_random @ file:///home/task_176159294306005/conda-bld/mkl_random_1761592958759/work
more-itertools @ file:///work/perseverance-python-buildout/croot/more-itertools_1728388668839/work
narwhals @ file:///home/task_176000322806197/conda-bld/narwhals_1760003496182/work
nbclient @ file:///croot/nbclient_1741123995822/work
nbconvert @ file:///croot/nbconvert-meta_1741184653315/work
nbformat @ file:///work/perseverance-python-buildout/croot/nbformat_1728385580878/work
nest_asyncio @ file:///work/perseverance-python-buildout/croot/nest-asyncio_1728387361665/work
notebook @ file:///croot/notebook_1756709302552/work
notebook_shim @ file:///croot/notebook-shim_1741707758683/work
numexpr @ file:///home/task_176216555892389/conda-bld/numexpr_1762165570527/work
numpy @ file:///home/task_176252779627398/conda-bld/numpy_and_numpy_base_1762528500786/work/dist/numpy-2.3.4-cp313-cp313-linux_x86_64.whl#sha256=b6601a81471cd17185002c3310291aeab3e0ff7791e2caaf4bce12a59e938682
overrides @ file:///work/perseverance-python-buildout/croot/overrides_1728386766389/work
packaging @ file:///croot/packaging_1753775359799/work
pandas==3.0.0
pandocfilters @ file:///home/task_175697775454948/conda-bld/pandocfilters_1756977812002/work
parso @ file:///croot/parso_1733963305961/work
pexpect @ file:///croot/pexpect_1750072593878/work
pillow @ file:///home/task_176252756300243/conda-bld/pillow_1762528238732/work
pkce @ file:///work/perseverance-python-buildout/croot/pkce_1728388093137/work
platformdirs @ file:///croot/platformdirs_1744273042065/work
pluggy @ file:///croot/pluggy_1733169602837/work
prometheus_client @ file:///croot/prometheus_client_1744271615306/work
prompt_toolkit @ file:///home/task_176037558428592/conda-bld/prompt-toolkit_1760375675101/work
protobuf @ file:///croot/protobuf_1742419705443/work/bazel-bin/python/dist/protobuf-5.29.3-cp313-abi3-linux_x86_64.whl#sha256=e3cf18ebdc1833edadeb0b91088f8bff7c0957fbcc29f9faa4900cb1e2d91337
psutil @ file:///home/task_175710406387641/conda-bld/psutil_1757104539982/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure_eval @ file:///home/task_175706703697232/conda-bld/pure_eval_1757067052848/work
pyarrow @ file:///croot/pyarrow_1756839868845/work/python
pycosat @ file:///croot/pycosat_1736868416091/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///croot/pydantic_1750768261732/work
pydantic-settings @ file:///io/buildout/croot/pydantic-settings_1735843225507/work
pydantic_core @ file:///croot/pydantic-core_1750754736071/work
Pygments @ file:///croot/pygments_1744664109463/work
PyJWT @ file:///io/buildout/croot/pyjwt_1739558969999/work
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1728386193338/work
python-dateutil @ file:///work/perseverance-python-buildout/croot/python-dateutil_1728385355105/work
python-dotenv @ file:///croot/python-dotenv_1745610241282/work
python-json-logger @ file:///croot/python-json-logger_1734370021104/work
pytz @ file:///croot/pytz_1752135852232/work
PyYAML @ file:///croot/pyyaml_1731006091482/work
pyzmq @ file:///home/task_175810349669950/conda-bld/pyzmq_1758103933718/work
qtconsole @ file:///home/task_175874873034051/conda-bld/qtconsole_1758748789945/work
QtPy @ file:///home/task_175753110275542/conda-bld/qtpy_1757531149551/work
readchar @ file:///work/perseverance-python-buildout/croot/readchar_1728397613245/work
referencing @ file:///io/perseverance-python-buildout/croot/referencing_1731700447964/work
requests @ file:///croot/requests_1750426329888/work
rfc3339_validator @ file:///work/perseverance-python-buildout/croot/rfc3339-validator_1728386296008/work
rfc3986_validator @ file:///work/perseverance-python-buildout/croot/rfc3986-validator_1728386318037/work
rich @ file:///croot/rich_1732638981168/work
rpds-py @ file:///croot/rpds-py_1736541261634/work
ruamel.yaml @ file:///croot/ruamel.yaml_1745960305322/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1745937152469/work
SecretStorage @ file:///work/perseverance-python-buildout/croot/secretstorage_1728387678881/work
semver @ file:///croot/semver_1736540782504/work
Send2Trash @ file:///croot/send2trash_1736540790175/work
setuptools==78.1.1
shellingham @ file:///work/perseverance-python-buildout/croot/shellingham_1728395303315/work
six @ file:///croot/six_1744271502820/work
smmap @ file:///tmp/build/80754af9/smmap_1611694433573/work
sniffio @ file:///work/perseverance-python-buildout/croot/sniffio_1728386342155/work
soupsieve @ file:///work/perseverance-python-buildout/croot/soupsieve_1728385708765/work
stack_data @ file:///home/task_175706678948354/conda-bld/stack_data_1757067036076/work
starlette==0.52.1
streamlit @ file:///home/task_176847461175186/croot/streamlit-split_1768474675229/work/streamlit
tenacity @ file:///home/task_176718483425825/croot/tenacity_1767184852851/work
terminado @ file:///home/task_175793482877935/conda-bld/terminado_1757934845720/work
tinycss2 @ file:///io/buildout/croot/tinycss2_1739558158888/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///croot/tomli_1753774587605/work
tornado @ file:///croot/tornado_1748956929273/work
tqdm @ file:///croot/tqdm_1738943501192/work
traitlets @ file:///work/perseverance-python-buildout/croot/traitlets_1728385099292/work
truststore @ file:///croot/truststore_1753907171582/work
typer @ file:///work/perseverance-python-buildout/croot/typer_1728397851651/work
typing-inspection==0.4.2
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata @ file:///home/task_176829656558347/croot/python-tzdata_1768296637279/work
urllib3 @ file:///croot/urllib3_1750775463400/work
watchdog @ file:///home/task_175977589144314/conda-bld/watchdog_1759775944847/work
wcwidth @ file:///croot/wcwidth_1750352883074/work
webencodings @ file:///work/perseverance-python-buildout/croot/webencodings_1728385731103/work
websocket-client @ file:///work/perseverance-python-buildout/croot/websocket-client_1728386934860/work
wheel==0.45.1
widgetsnbextension @ file:///io/buildout/croot/widgetsnbextension_1735843395399/work
zstandard @ file:///croot/zstandard_1731356346222/work
